body {
  background: url("login.jpg") no-repeat;
  background-size: auto;
  height: 100vh;
  width: 100vw;
}

.login {
  max-width: 400px;
  min-width: 350px;
  height: 450px;
  background: rgb(174, 174, 233);
  color: black;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 3%;
  padding: 25px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

h1 {
  margin: 10px;
  margin-bottom: auto;
  padding-top: 15px;
  text-align: center;
  font-size: 30px;
  color: black;
}

.login a {
  text-align: center;
}

.login p,
label {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.login input {
  width: 100%;
  margin-bottom: 20px;
}

.login input[type="text"],
.login input[type="password"] {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  height: 40px;
  color: black;
  font-size: 15px;
}

.login input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: green;
  color: white;
  font-size: 18px;
}

.login input[type="submit"]:hover {
  cursor: pointer;
  background: rgb(5, 65, 5);
  color: white;
}

.login a {
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: black;
  position: absolute;
  bottom: 25px;
  left: 25px;
}

.login a:hover {
  color: #ffc107;
}

p {
  color: black;
}
