.user-bio {
  margin: 2.5%;
  display: inline-block;
  padding: 1%;
  border-radius: 7px;
  width: 25%;
  height: max-content;
  background-color: hsl(160, 22%, 24%);
  box-shadow: 0px 5px 15px #494747;
}

.content {
  height: auto;
}

.globalwrapper {
  display: flex;
}

.username {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 120%;
  padding: 20px 0;
  text-align: center;
  width: auto;
}

.user-bio h2 {
  display: flex;
  justify-content: center;
  font-size: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  color: #f1f7ee;
  padding: 10px 0px;
}

.profile-picture {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: auto;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.user-bio img {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 3px;
  border-style: solid;
  box-shadow: 0px 7px 12px rgb(8, 56, 4);
  border-color: white;
}

.user-bio img:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.bio-info-box {
  border: #f1f7ee solid;
  border-width: 1%;
  border-radius: 50px 20px;
  padding: 3.5%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.bio-info-box div {
  margin: 2.5%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bio-info-box div span {
  font-size: 80%;
  margin: 2%;
  font-family: Georgia, serif;
  font-weight: 600;
  color: white;
}

.album-frame {
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #99b4ab;
  display: flex;
  justify-content: space-around;
}

.album-frame p {
  color: black;
  margin: 10px 10px;
  display: inline-block;
  font-size: 150%;
  border-radius: 7px;
}

.album-frame:last-child {
  justify-content: flex-end;
}

.icons {
  color: #99b4ab;
  font-size: 1em;
}

.user-content {
  display: inline-block;
  margin: 2.5%;
  padding: 1%;
  background-color: #bbcac4;
  border-radius: 7px;
  max-width: 55%;
  height: auto;
  position: relative;
}

.albums-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.content-pictures {
  margin: 0 20px 20px;
  border: 1px solid green;
  background-color: rgb(255, 255, 255, 0.8);
}

.content-pictures img {
  width: 11vw;
  height: auto;
}
.content-pictures img:hover {
  opacity: 0.4;
  transition: 0.6s;
}

.album-name {
  font-size: 100%;
  font-weight: 600;
  text-align: center;
}

.albumForm {
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (min-width: 721px) {
  .user-bio {
    position: fixed;
  }

  .user-content {
    left: 32%;
    margin-left: 5%;
  }
}

@media screen and (max-width: 720px) {
  .globalwrapper {
    justify-content: space-around;
    flex-direction: column;
  }

  .user-bio {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .user-content {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .profile-picture {
    justify-content: space-between;
    flex-direction: row;
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: 100%;
  }

  .profile-picture img {
    height: 40%;
    width: 40%;
  }

  .content-pictures {
    padding: 0 5px 5px;
  }

  .content-pictures img {
    width: 25vw;
    height: auto;
  }

  .username {
    font-size: 100%;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 15%;
    text-align: center;
  }
  .user-bio h2 {
    font-size: 90%;

    padding: 10px 0px;
  }

  .user-bio p {
    font-size: 80%;
  }
}
